<ul>
    <li>{{ 'calculate.efficiency.hitpoints'|trans({points: efficiency.hitPoints})|raw }}</li>
    <li>{{ 'calculate.efficiency.ground_damage'|trans({points: efficiency.groundDamage})|raw }}</li>
    <li>{{ 'calculate.efficiency.air_damage'|trans({points: efficiency.airDamage})|raw }}</li>
    <li>{{ 'calculate.efficiency.structure_damage'|trans({points: efficiency.structureDamage})|raw }}</li>
</ul>
