<p>{{ 'calculate.efficiency_short.hitpoints'|trans({points: efficiency.hitPoints})|raw }}</p>
<p>{{ 'calculate.efficiency_short.ground_damage'|trans({points: efficiency.groundDamage})|raw }}</p>
<p>{{ 'calculate.efficiency_short.air_damage'|trans({points: efficiency.airDamage})|raw }}</p>
<p>{{ 'calculate.efficiency_short.structure_damage'|trans({points: efficiency.structureDamage})|raw }}</p>
