{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div id="welcome">
                <h1>{{ 'crud.edit'|trans }}</h1>
            </div>

            {% include '@App/templates/troopForm.html.twig' %}

        </div>
    </div>
{% endblock %}
