{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div id="welcome">
                <h1>{{ 'crud.list'|trans }}</h1>
            </div>

            {% for troop in troops %}
                {% include '@App/templates/troop.html.twig' %}
            {% endfor %}

        </div>
    </div>
{% endblock %}
