/* ==================== */
/*         MENU         */
/* ==================== */
.navbar-default .navbar-nav > .current > a,
.navbar-default .navbar-nav > .current > a:hover,
.navbar-default .navbar-nav > .current > a:focus {
    color: #fff;
    background-color: #1a252f;
}

/* ==================== */
/*       GENERAL        */
/* ==================== */
a, a:hover, a:visited, a:active {
    text-decoration: none
}

.container.body-container {
    width: 1000px;
}

header {
    margin-bottom: 0;
}

.page-header {
    padding-bottom: 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid gray;
}

h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

/* ==================== */
/*         CARDS        */
/* ==================== */
.card-info {
    font-size: 18px;
    background: gray;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.card-info .meta {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-info label {
    font-weight: 700;
}

.card-info .row {
    background: lightgray;
    border-radius: 5px;
    padding: 20px;
}