{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div id="welcome">
                <h1>{{ 'project_welcome'|trans|raw }}</h1>
            </div>

            <div id="status">
                {{ 'project_description'|trans|raw }}
            </div>

        </div>
    </div>
{% endblock %}
